* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}
::-webkit-input-placeholder {
    color:black;
    font-size: 20px;
    font-weight: 700;}
::-moz-placeholder {
    color:black;
    font-size: 20px;
    font-weight: 700;}

:-moz-placeholder {
    color:black;
    font-size: 20px;
    font-weight: 700;}

:-ms-input-placeholder {
    color:black;
    font-size: 20px;
    font-weight: 700;}

body {
    font-family: roboto;
    /* background-color: #61210B; */
}


.btn-group button{
    width: 100%;
    max-width: 100%;
    height: 50px;
    text-align: left;
    margin-bottom:5px;
    background-color:#adadad;
    font-size: 20px;
    font-weight: 700;

}
.caret {
    float: right;
}
.form-group {
    width: 100%;
    max-width: 100%;
    height: 50px;
    text-align: left;
    margin-bottom:5px;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #adadad;
    color: black;
    placeholder-color: black;
    background-color:#adadad;
    font-size: 20px;
    font-weight: 700;
}

#send {
    height: 80px;
    margin-top: 10px;
    width: 220px;
    background-color: black;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 900;
    /* float: right; */
}
#sendMain {
    height: 80px;
    margin-top: 10px;
    width: 220px;
    background-color: black;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 900;
    /* float: right; */
}
#answer {
    float: right;
}
#myCarousel {
    margin-bottom: 0;
}
.item {
    /* background: url(/static/123.jpg) 10% 10% no-repeat; */
    /* background-size: cover; */
}
#menu {
    height: 150px;
    width: 170px;
    background-color: #DF6509;
    border-color: black;
    border: 4px solid;
    border-radius: 30px;
    /* opacity: 0.8; */
    vertical-align:top;
}
#menu h1 {
    font-size: 16px;
}
.row #menu {
    margin-left: 15px;
    margin-bottom: 10px;
}
h1 {
    font-size: 26px;
    font-weight:900;
    color:black;
}
a #menu {
    font-size:24px;
    font-weight:900;
    color: black;
}
#main-menu {
    font-size: 16px;
    font-weight:900;
}
#main-menu a{
    padding: 10px;
}
.navbar-brand {
    font-size: 24px;
}
.contact {
    font-size: 20px;
    /* padding: 0 15px; */
    /* margin: 0 90.5px; */

}
/* .form { */
    /* padding-top: 80px; */
/* } */
#form {
    border: 4px solid;
    border-radius: 30px;
    border-color: black;
    background-color: #DF6509;
    margin-bottom: 20px;
}
#formMain {
    border: 4px solid;
    border-radius: 30px;
    border-color: black;
    background-color: #DF6509;
    margin-bottom: 20px;
}
.form-group {
    padding: 6px; 12px;
}
#call button{
    padding: 0;
    border: 0;
    margin: 20px 10px;
}
.number {
    font-size: 30px;
}
#top {
    margin-top:20px;
}
#contacts a{
    font-size: 24px;
}
#contacts {
    /* padding-top:50px; */
}
#content span {
    color:#DF6509;
}
#hidden-head span {
    color:#DF6509;
}
#hidden-head a {
    color:black;
    font-size: 20px;
    text-decoration: underline;
}
#hidden-head .col-sm-6 {
    margin-top: 20px;
}
#phoneNB {
    font-size: 20px;
}
#phoneNB span{
    color: black;
}

#content img {
    width: 100%;
}
#content {
    /* max-width: 1060px; */
}
.main-page .btn-group{
    /* margin-bottom: 20px; */
}
.main-page .btn-group button{
    max-width: 100%;
    width: 100%;
    height: 50px;
}
.main-page .form-group{
    max-width: 100%;
    width: 100%;
    height: 50px;
    /* margin-bottom: 20px; */
}
.main-page #send{
    max-width: 100%;
    width: 100%;
    height: 50px;
    font-size:16px;
    text-align: center;
    border-radius:30px;
    margin-bottom: 30px;
    /* margin-top: 30px; */
}
#form h3 {
    color: black;
}
#top p {
    font-size: 16px;
}
p {
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
}
li {
    font-size: 20px;
}
ul {
    font-size: 20px;
}
ol {
    font-size: 20px;
}
#string {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-top: 20px;
}
#lable {
    width: 100%;
    /* height: 90px; */
    /* padding-right: 10px; */
}
#brand h1 span {
    color:#DF6509;
}
#brand h1 {
    font-size: 34px;
}
.navbar-inverse{
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #DF6509;
}
#brand h4 {
    margin: 0;
}
#brand h1 {
    margin: 0;
}
#content h1 {
    /* margin: 0; */
}
#text h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
#brand {
    padding-left: 18px;
}
#all-brands {
    border: 4px solid;
    border-radius: 30px;
    border-color: black;
    background-color: #DF6509;
    padding: 5px;
    margin-top: 10px;
}
#list {
    background-color: black;
    font-size:15px;
    font-weight:600;
    padding: 5px 0;
    opacity: 0.8;
    box-shadow: inset 0px 3px 7px 0px;

}
#list a {
    margin: 5px;
}
#list .col-md-6 {
    padding: 5px;
    white-space: nowrap;

}
/* #list .col-sm-3 { */
    /* padding: 5px; */
    /* white-space: nowrap; */

/* } */

#all-brands img {
    width: 26px;
    max-height: 26px;
}
#all-brands button {
    height: 35px;
    padding: 0;
}
#top {
    max-width: 1060px;
}
#kinds img{
    width:163px;
}
/* li { */
    /* font-size: 16px; */
    /* font-weight: 500; */
/* } */
/* ol { */
    /* font-size: 16px; */
    /* font-weight: 500; */
/* } */
/* ul { */
    /* font-size: 16px; */
    /* font-weight: 500; */
/* } */
ul #podmenu{
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
}
li ul {
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    border: 3px solid #DF6509;
    width: 200px;
    /* margin-left: 165px; [> Сдвигаем подменю вправо <] */
    /* margin-top: -2em; [> Сдвигаем подменю вверх <] */
}
#podmenu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color:  #9d9d9d;
    background-color: black;
    /* border-bottom: none; [> Границу снизу не проводим <] */
}
#podmenu a:hover {
    color: white;
}
li a:hover {
    color: white; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
}
li:hover ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
}
/* .brd { */
    /* border-bottom: 1px solid #ccc; [> Линия снизу <] */
/* } */
#ButtonCall .modal-footer  button {
    padding: 6px 12px;
    border: 1px solid #adadad;
    margin: 0;
}
