{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='short_model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class='container'>
    <!-- <div class='row'> -->
    <div class='col-md-9'>
      <h3>НАШИ КОНТАКТЫ</h3>
      <div id='contacts'>
        <!-- <p><span><strong>Адрес:</strong></span>улюююю</p> -->
        <!-- <p><i>Метро:</i>улюююю</p> -->
        <p>Телефон:  +7 967 180 07 00</p>
        <p><strong>e-mail:</strong>  aleksauto@gmail.com</p>
      </div>
      <h3>О КОМПАНИИ</h3>
      <p>
        Компания АлексАвто  работает на российском автомобильном рынке более десяти лет,
        и приобрела за это время солидную репутацию в сегменте выкупа авто.
        Наши специалисты – это профессионалы высокого класса и широкого профиля.
        Мы считаем, что именно штат разнопрофильных и уникальных специалистов является
        гарантом дальнейшего развития компании и определяет ее привлекательность.
        Поэтому, наш девиз «Качественное VIP обслуживание каждого клиента» никогда не расходится с делом.
      </p>
      <p>
      Мы выработали несколько принципов, которые помогают нам работать и удовлетворять потребности наших клиентов:

      <li>порядочность (обязательное выполнение всех своих обязательств перед клиентом)</li>
      <li>профессионализм (наши сотрудники действительно разбираются в машинах и любят свое дело)</li>
      <li>качество (мы используем только высококачественное оборудование и материалы при обслуживании автомобилей)</li>
      <li>надежность (наше гарантийное и пост-гарантийное обслуживание обеспечат отличное состояние Вашего автомобиля,
        а застраховав свой автомобиль сразу после покупки в салоне, Вы получите гарантию от всех неприятностей,
        которые могут случиться на дороге)</li>
      <li>дружелюбие</li>
      <li>быть верными своим принципам.</li>
      </p>
      <p>
      В настоящее время АлексАвто специализируется и предлагает следующие услуги:

      <li>выкуп автомобилей (выезд оценщика бесплатно);</li>
      <li>продажа автомобилей;</li>
      <li>выкуп легковых автомобилей зарубежного и отечественного производства;</li>
      <li>выкуп мотоциклов;</li>
      <li>комиссионная продажа;</li>
      <li>выкуп кредитных, залоговых, лизинговых автомобилей;</li>
      <li>выкуп автомобилей после ДТП;</li>
      <li> помощь в покупке автотранспорта.</li>

      </p>
      <p>
      Приходите в «АлексАвто» и убедитесь сами почему клиенты предпочитают приобретать автомобили именно у нас!

      На все вопросы о ценах и услугах можно получить ответы по многоканальному телефону +7 967 180 07 00.
      Все предложения и замечания по улучшению работы компании направляйте по адресу aleksauto@gmail.com.

      </p>
      {% include 'conditions.html' %}
      {% include 'categories.html' %}
    </div>
    <div class='main-page'>
      <div class='col-md-3 col-sm-12 col-xs-12' id='form'>
        {% include 'fast_eval.html' %}
      </div>
      {% include 'brand_form.html' %}
    </div>
  </div>
{%endblock%}
