<!-- <div class='col-md-3 col-sm-3'> -->
  <a href="/lubie_auto"><button id='menu'>выкуп любых авто</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href='/ocenka'><button id='menu'>оценка автомобиля</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href='/s_probegom'><button id='menu'>выкуп авто с пробегом</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 co-sm-3'> -->
  <a href='bez_dokumentov'><button id='menu'>выкуп авто без документов</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href='/bitie_auto'><button id='menu'>выкуп битых авто</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href="/na_zapchasti"><button id='menu'>выкуп авто на запчасти</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href="lubie_problemi_auto"><button id='menu'>выкуп авто с любыми проблемами</button></a>
<!-- </div> -->
<!-- <div class='col-md-3 col-sm-3'> -->
  <a href='/bez_ucheta'><button id='menu'>выкуп авто без снятия с учета</button></a>
<!-- </div> -->
