{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='short_model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class='container'>
    <div class='col-md-9'>
      <h1>ВЫКУП БЕЗ ДОКУМЕНТОВ</h1>
      <p>
      Если Вы являетесь владельцем машины, которая по каким-то причинам осталась без документов,
      то не спешите впадать в панику. Мы готовы помочь Вам и выкупим Ваше авто. Для нас не имеет
      значения год выпуска транспортного средства, её техническое состояние, внешний вид. Мы готовы
      рассмотреть варианты выкупа авто без документов любой марки.
      </p>
      <p>
      Компания АлексАвто много лет занимается выкупом всевозможных автомобилей и готова предложить
      Вам самые выгодные условия. Кроме того, мы осуществляем сделку в день обращения. Все, что
      Вам нужно для того чтобы дорого реализовать проблемный автомобиль, это обратиться к нам.
      На заявку выезжает профессиональный оценщик, который на месте озвучит стоимость. Он обладает
      всеми полномочиями и осуществит все необходимые действия, для того, чтобы вы быстро получили деньги.
      </p>
      <p>
      Мы гарантируем срочный выкуп авто без ПТС в Москве с оформлением всех документов и с юридическим
      сопровождением сделки куплипродажи.
      </p>
      <h3>Сотрудничество с нами сопровождается рядом преимуществ:</h3>
      <li>оперативная реакция на заявку;</li>
      <li>конфиденциальность сделки;</li>
      <li>срочный выкуп авто без документов в день обращения;</li>
      <li>юридически грамотная консультация от любого сотрудника на любом этапе сотрудничества.</li>
      <p>
      Компания АлексАвто ориентирована на то, чтобы удовлетворить Ваши потребности. Это обуславливает
      наш безупречный сервис и привлекательную стоимость для каждого клиента.
      </p>
      {% include 'conditions.html' %}
      {% include 'categories.html' %}
    </div>
    <div class='main-page'>
      <div class='col-md-3 col-sm-12 col-xs-12' id='form'>
        <div class='col-md-12 col-md-offset-0  col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2'>
          <h3>Быстрая оценка</h3>
          <div class="btn-group">
            <button type="button" id="brandButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">марка<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="brand">
              {% for brand in brands %}
                <li class="brand"><a id ="{{brand.brand}}" href="#">{{brand.brand}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="modelButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">модель<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="model"></ul>
          </div>
          <div class="btn-group">
            <button type="button" id="yearButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">год<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="year">
              {% for year in years %}
                <li class="year"><a href="#">{{year.year}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <input class="form-group" type="text" id="phone" placeholder="контактный телефон" maxlength = "16">
          <input class="form-group" type="text" id="name" placeholder="ваше имя">
          <button type="button" id="send" class="btn btn-success">Оценить автомобиль</button>
          <p id='answer'></p>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-12 col-xs-12' id='all-brands'>
      <h4>Выкуп более 134 иномарок</h4>
      <div class='col-md-12 col-sm-12 col-xs-12' id='list'>
        {% for pop_brand in pop_brands %}
          <div class='col-md-6 col-sm-3 col-xs-4'>
            <button><img src='{{pop_brand.icon}}'></button><a>{{pop_brand.brand}}</a>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- <div class='col-md-3 col-md-offset-9 col-sm-12 col-xs-12' id='all-brands'> -->
      <!-- <h4>Услуги</h4> -->
      <!-- <div class='col-md-12 col-sm-12 col-xs-12' id='list'> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
{%endblock%}
