<div class="hidden-sm hidden-xs">
  <div class='col-md-12' id='string'>
    <p></p>
  </div>
    <h3>Выкуп автомобилей  и водный транспорт следующех категорий</h3>
  <div class='col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-2' id='kinds'>
    <div class='col-md-3 col-sm-3'>
      <img src='/static/leg.jpg'><br> легковой автомобиль
    </div>
    <div class='col-md-3 col-sm-3 col-xs-10'>
      <img src='/static/gruz.jpg'><br> грузовой автомобиль
    </div>
    <div class='col-md-3 col-sm-3'>
      <img src='/static/mop.jpg'><br> мотоциклы, квадрациклы, мопеды
    </div>
    <div class='col-md-3 col-sm-3'>
      <img src='/static/skut.jpg'><br> водный скутер
    </div>
  </div>
</div>
