<div id='content'>
  <h3>Условия выкупа авто</h3>
  <ol>В случае, если Вы решили воспользоваться нашими услугами, то предлагаем Вашему вниманию алгоритм проведения сделки по выкупу автомобилей:
    <li>Вы оставляете заявку на оценку Вашей машины или звоните нам</li>
    <li>Мы говорим предварительную сумму выкупа</li>
    <li>К вам бесплатно приезжает оценщик</li>
    <li>Оформление документов занимает не более 15 минут</li>
    <li>Полный расчет на месте в удобной вам форме (наличный, либо безналичный расчет)
    В итоге Вы тратите на продажу своего автотранспорта не более одного часа, не двигаясь с места и не тратя ни одной лишней копейки.
    </li>
  </ol>
  <p>Наши специалисты имеют высокую квалификацию и выполняют быстро и профессионально задачи любой сложности.
  </br>
    Скупка авто – это наша работа, которой мы занимаемся много лет, за эти годы мы достигли высокого уровня квалификации, обучили персонал, и теперь наша команда готова в любое время прийти к Вам на помощь, где бы не находился Ваш автомобиль.
  </p>
  <img src='{{url_for("static", filename="jjj2.jpg")}}'>
</div>
