{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='short_model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class="container" id='content'>
    <div class="col-md-12">
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-md-12'>
            <h1><span>Срочный</span> выкуп авто в любой точке города</h1>
            <img src="/static/main4.png">
            {% include 'all_services.html' %}
          <h1>Срочный выкуп авто - дорого!</h1>
          <p>Если нет времени на поиск покупателя вашего автомобиля или срочно понадобились финансы , наша компания "АлексАвто"
          в сжатые сроки осуществит срочный выкуп авто. Причем такие сделки мы проводим не только в Москве, но во
          всех населенных пунктах Московской области.
          </p>
          <p>
          Мы готовы рассмотреть любые варианты, предполагающие автовыкуп индивидуального и коммерческого транспорта,
          мототехники и других транспортных средств различных моделей.
          </p>
          <p>
          В нашей компании продажа проводится в течение полутора - двух часов, и клиенту не придется даже
          добираться к нашему офису. Такой оперативный и доступный выкуп автомобилей в Москве да еще при этом -
          с выездом оценщика к клиенту, возможен далеко не в каждой компании.
          </p>
          <ul id='info'>
          Подать заявку на выгодной и дорогой выкуп автомобиля может любой, на кого рассчитан автовыкуп, а именно:
          <li>Автовладельцы, которых интересует высокая стоимость своего автомобиля и срочность сделки;</li>
          <li>Владельцы неисправной и аварийной техники;</li>
          <li>Автомобиль находится в кредите;</li>
          <li>Те, кто не имеет возможности сделать оформление документов на ТС;</li>
          <li>Те, кому срочно понадобились деньги и есть возможно продать только свой автомобиль.</li>
          <li>Одно из главных достоинство нашей компании в том, что мы осуществляем выкуп авто в Москве
            в беспрерывном режиме – каждый день и круглосуточно. Для нас нет ограничений в выкупе абсолютно
            любой техники – будь то старенький ВАЗ или дорогая иномарка.</li>
          </ul>
          {% include 'conditions.html' %}
          <h3>Наши преимущества</h3>
          <ul id='info'>
          <li>Срочная процедура продажи занимает всего 30 минут
          Оценка автомобиля, калькуляция стоимости, оформление документов и получение денег займет всего пол часа.
          </li>
          <li>Выкупаем дорого - от 95% от рыночной стоимости авто
          Мы не занижаем стоимость автомобиля и предлагаем клиентам честную сделку, наша стратегия - постоянные клиенты и ваши рекомендации.
          </li>
          <li>Выдаем деньги сразу наличкой
          </li>
          <li>Полное юридическое сопровождения сделки
          Мы осуществляем бесплатную проверку гарантии юридической чистоты автомобиля и юрист сопровождает сделку от и до.
          </li>
          <li>Выкуп с выездом оценщика - Круглосуточно 24 часа
          Наш оценщик приедит в любую точку Москвы и Московской области, по первому вашему телефонному звонку.
          </li>
          <li>Выкуп битых автомобилей после ДТП
          Предоставьте судьбу вашего автомобиля нам и вы поймете, что продавать автомобиль после ДТП не так уж и сложно.
          </li>
          <li>Выкуп кредитных авто
          Выкупаем кредитные автомобили и полностью погашаем долг клиента.
          </li>
          </ul>
          {% include 'categories.html' %}
          <!-- <div class='col-md-12' id='string'> -->
            <!-- <p></p> -->
          <!-- </div> -->
        </div>
        </div>
      </div>
        <div class='main-page'>
          <div class='col-md-3 col-sm-12 col-xs-12' id='form'>
            {% include 'fast_eval.html' %}
          </div>
        {% include 'brand_form.html' %}
        </div>
      </div>
    </div>
  </div>
      <!-- <div class='container menu'> -->
        <!-- <div class='row'> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп любых авто</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>оценка автомобиля</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп авто с пробегом</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп авто без документов</h1></button></a> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class='row'> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп битых авто</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп авто на запчасти</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп авто с любыми проблемами</h1></button></a> -->
          <!-- </div> -->
          <!-- <div class='col-md-2'> -->
            <!-- <a><button id='menu'><h1>выкуп битых авто</h1></button></a> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

    </div><!-- /.carousel -->




{% endblock %}
