<div class="col-md-12 form" id="form">
  <div class='row'>
    <div class="col-md-5 col-sm-5">
      <h1>Ваш автомобиль</h1>
      <div class='col-md-12 col-sm-12 btn-group'>
        <button type="button" id="brandButton" class="btn btn-default dropdown-toggle" \
                              data-toggle="dropdown">марка<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" id="brand">
          {% for brand in brands %}
            <li class="brand"><a id ="{{brand.brand}}" href="#">{{brand.brand}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class='col-md-12 col-sm-12 btn-group'>
        <button type="button" id="modelButton" class="btn btn-default dropdown-toggle" \
                              data-toggle="dropdown">модель<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" id="model"></ul>
      </div>
      <div class='col-md-12 col-sm-12 btn-group'>
        <button type="button" id="yearButton" class="btn btn-default dropdown-toggle" \
                              data-toggle="dropdown">год<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" id="year">
          {% for year in years %}
            <li class="year"><a href="#">{{year.year}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class='col-md-12 col-sm-12 btn-group'>
        <button type="button" id="kppButton" class="btn btn-default dropdown-toggle" \
                              data-toggle="dropdown">кпп<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" id="kpp">
          <li class="kpp"><a  href="#">автомат</a></li>
          <li class="kpp"><a  href="#">механика</a></li>
        </ul>
      </div>
      <div class='col-md-12 col-sm-12 btn-group'>
        <input class="form-group" type="text" id="km" placeholder="пробег">
        <input class="form-group" type="text" id="price" placeholder="желаемая цена">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
      <h1>Контактные данные</h1>
      <input class="form-group" type="text" id="name" placeholder="ваше имя">
      <input class="form-group" type="text" id="phone" placeholder="контактный телефон" maxlength = "16">
      <input class="form-group" type="text" id="city" placeholder="город" value="Москва">
      <!-- <form action="" method=post enctype=multipart/form-data> -->
      <!-- <input type=file name=file id='photo'> -->
      <!-- <input type=submit value=Загрузить> -->
      <!-- </form> -->
      <!-- <textarea rows="6" cols="30" type="text" id="comment" placeholder="комментарий"></textarea> -->
      <button type="button" id="send" class="btn btn-success">Отправить</button>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <p id="answer"></p>
      </div>
    </div>
  </div>
</div>
