{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='short_model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class='container'>
    <div class='col-md-9'>
      <h1>ВЫКУП АВТО НА ЗАПЧАСТИ</h1>
      <p>
      Продайте безнадежно сломавшийся автомобиль на запчасти по самой высокой цене. Не важно его нынешнее состояние. Даже если это просто гора металлолома, мы осуществим срочный выкуп автомобиля и разберем его на запчасти. Вы получите большую сумму, чем в состоянии предложить страховая компания или другие скупщики.
      </p>
      <p>
      Избавившись от старого авто, вы освободите пространство в гараже для новенького авто и получите на руки приличную сумму.
      </p>
      <p>
      Скупка машин на запчасти - приобретение авто с пробегом, которое находится в нерабочем состоянии. После завершения сделки наши механики разберут его, чтобы использоваться запчасти для ремонта других автомобилей или на продажу.
      </p>
      <p>
      Нашей целью является приобретение качественных деталей, а не скупка металлолома за гроши. Оценщик дает адекватную оценку потенциалу авто. При этом мы сознаем риски: визуальный осмотр не дает полной гарантии, что годные на вид детали будут нормально работать.
      </p>
      <p>
      Ознакомьтесь с порядком оказания услуги, чтобы убедиться: мы предложим вам самые выгодные условия выкупа нерабочего авто.
      </p>
      <h3>Как продать авто на запчасти</h3>
      <p>
      Получив на руки нерабочее авто, возникает искушение поскорее от него избавиться, обратившись в страховую компанию или к скупщикам деталей. Может даже показаться, что другого выхода из ситуации нет. Однако, продав авто целиком, вы получите больше денег.
      </p>
      <p>
      Разумеется, нельзя подписаться под обещанием, что в каждом случае владелец получит рыночную стоимость своего нерабочего автомобиля. Но мы всегда предлагаем справедливую цену, берем на себя хлопоты и расходы:
      </p>
      <li>Выезд специалиста к любому месту в Москве,</li>
      <li>Эвакуация нерабочего авто в бокс за счет компании,</li>
      <li>Снятие с учета ГИБДД и переоформление документов.</li>
      <p>
      Следует добавить, что мы обеспечиваем юридическое сопровождение сделки, что гарантирует ее законность. Наша компания скупает только легальные авто с документами. Вы 100 % получите обещанную сумму, не потратив деньги из собственного кошелька.
      </p>
      <h3>Порядок оформления аварийного автомобиля</h3>
      <p>
      Достаточно следовать простым шагам, чтобы избавиться от неработающего автомобиля в течение одного дня:
      </p>
      <li>Чтобы продать аварийную машину в Москве, вызовите нашего оценщика. Он изучит состояние авто и вынесет вердикт: сколько денег компания готова заплатить. Подчеркиваем, для проведения оценки, не нужно доставлять машину на СТО.</li>
      <li>Ключевое значение при оценке имеет количество годных деталей, которые можно использовать по отдельности. При осмотре оценщик изучает двигатель, подвески, выхлопную систему, аккумулятор, генератор и прочие узлы авто.</li>
      <li>Обратите внимание, наша компания скупает автомобили целиком, что обеспечивает продавцу более высокую цену, чем при продаже по отдельным деталям.</li>
      <li>Согласившись продать автомобиль по озвученной цене, вы заключаете договор с нашим представителем. При необходимости снятие с учета ГИБДД и переоформление можно провести без вашего участия, достаточно доверенности.</li>
      <li>Вы получаете наличные или перевод на банковский счет по своему желанию. От первого звонка до получения оплаты редко проходит больше 2-3 часов.</li>
      <h3>Какие документы нужны для сделки</h3>
      <p>
      Выгодная скупка машин на запчасти требует аккуратного переоформления документов. Вам следует подготовить:
      </p>
      <li>паспорт транспортного средства,</li>
      <li>свидетельство о регистрации транспортного средства,</li>
      <li>паспорт гражданина РФ.</li>
      {% include 'categories.html' %}
    </div>
    <div class='main-page'>
      <div class='col-md-3 col-sm-12 col-xs-12' id='form'>
        <div class='col-md-12 col-md-offset-0  col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2'>
          <h3>Быстрая оценка</h3>
          <div class="btn-group">
            <button type="button" id="brandButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">марка<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="brand">
              {% for brand in brands %}
                <li class="brand"><a id ="{{brand.brand}}" href="#">{{brand.brand}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" id="modelButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">модель<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="model"></ul>
          </div>
          <div class="btn-group">
            <button type="button" id="yearButton" class="btn btn-default dropdown-toggle" \
                                  data-toggle="dropdown">год<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="year">
              {% for year in years %}
                <li class="year"><a href="#">{{year.year}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <input class="form-group" type="text" id="phone" placeholder="контактный телефон" maxlength = "16">
          <input class="form-group" type="text" id="name" placeholder="ваше имя">
          <button type="button" id="send" class="btn btn-success">Оценить автомобиль</button>
          <p id='answer'></p>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-12 col-xs-12' id='all-brands'>
      <h4>Выкуп более 134 иномарок</h4>
      <div class='col-md-12 col-sm-12 col-xs-12' id='list'>
        {% for pop_brand in pop_brands %}
          <div class='col-md-6 col-sm-3 col-xs-4'>
            <button><img src='{{pop_brand.icon}}'></button><a>{{pop_brand.brand}}</a>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- <div class='col-md-3 col-md-offset-9 col-sm-12 col-xs-12' id='all-brands'> -->
      <!-- <h4>Услуги</h4> -->
      <!-- <div class='col-md-12 col-sm-12 col-xs-12' id='list'> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
{%endblock%}
