{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class='container'>
    <div class='col-md-9'>
      <h2>Онлайн оценка автомобиля</h2>
      {% include 'models.html' %}
      <h3>Как оценить автомобиль: онлайн калькулятор оценки авто</h3>
      <p>Перед вами форма калькулятор и срочная онлайн оценка авто. Необходимо заполнить все поля формы:
      <ul>
        <li>Имя и номер телефона, по которому с вами может связаться наш специалист по online оценке.</li>
        <li>Марку и модель, представленного на выкуп авто.</li>
        <li>Год выпуска и пробег машины.</li>
        <li>В поле Комментарий напишите нюансы, которые касаются вашего транспортного средства.</li>
        <li>Желательно добавить фотографии авто, позволяющие визуально оценить машину с разных ракурсов,
        максимальное количество 4 штуки.</li>
        <li>Нажать на Получить Расчет.</li>
      </ul>
      <p>После отправки формы, специалист по оценке обработает данные и перезвонит вам для уточнения деталей и сообщения стоимости вашего авто. Бесплатная оценка стоимости автомобиля существенно экономит ваше время, если вы всерьез настроены на продажу своего автомобиля.

      Во время звонка нашего сотрудника вы определяете удобный вам день и время выкупа. Оценка автомобиля, проведенная онлайн, должна подтвердиться визуальным осмотром машины. После встречи с оценщиком остается подписать документы и получить деньги.</p>
    </div>
      <div class='col-md-3 col-sm-12 col-xs-12' id='all-brands'>
        <h4>Выкуп более 134 иномарок</h4>
        <div class='col-md-12 col-sm-12 col-xs-12' id='list'>
          {% for pop_brand in pop_brands %}
            <div class='col-md-6 col-sm-3 col-xs-4'>
              <button><img src='{{pop_brand.icon}}'></button><a>{{pop_brand.brand}}</a>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- <div class='col-md-3 col-md-offset-9 col-sm-12 col-xs-12' id='all-brands'> -->
        <!-- <h4>Услуги</h4> -->
        <!-- <div class='col-md-12 col-sm-12 col-xs-12' id='list'> -->
          <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
          <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
          <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
          <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
          <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <!-- <div class='col-md-3'> -->
      <!-- [> <form enctype="multipart/form-data" method="post"> <] -->
           <!-- <p>Загрузите ваши фотографии на сервер</p> -->
              <!-- <p><input type="file" id="ph" multiple accept="image/*,image/jpeg"> -->
              <!-- <button id='sendPhoto'>отправить</button></p> -->
              <!-- <img src='../2012-12-08 09.31.03.jpg'> -->
              <!-- [> </form> <] -->
              <!-- <form enctype="multipart/form-data" method="post"> -->
                   <!-- <p>Загрузите ваши фотографии на сервер</p> -->
                      <!-- <p><input type="file" id="ph2" multiple accept="image/*,image/jpeg"> -->
                         <!-- <input type="submit" value="Отправить" id='sendph'></p> -->
                        <!-- </form> -->
    <!-- </div> -->

{%endblock%}
