{% extends "base.html" %}
{% block extra_head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='short_model.js')}}"></script>
{% endblock %}
{%block content %}
  <div class='container'>
    <div class='col-md-9'>
      <div class='row'>
        <h2> УСЛУГИ ИНДИВИДУАЛЬНО ДЛЯ ЛЮБОЙ ПРОДАЖИ АВТОМОБИЛЯ</h2>
        {% include 'all_services.html' %}
      </div>
      <!-- <div class='col-md-6'> -->
        <!-- <li>СРОЧНЫЙ ВЫКУП АВТОМОБИЛЯ</li> -->
        <!-- <li>ВЫКУП ДОРОГИХ АВТОМОБИЛЕЙ</li> -->
        <!-- <li>ВЫКУП БИТЫХ АВТО</li> -->
        <!-- <li>ВЫКУП КОММЕРЧЕСКИХ АВТОМОБИЛЕЙ</li> -->
        <!-- <li>ВЫКУП ПРАВОРУЛЬНЫХ АВТОМОБИЛЕЙ</li> -->
        <!-- <li>ВЫКУП ЛЮБЫХ АВТОМОБИЛЕЙ</li> -->
      <!-- </div> -->
      <!-- <div class='col-md-6'> -->
        <!-- <li> ВЫКУП ИНОМАРОК</li> -->
        <!-- <li> ВЫКУП ВСЕХ ОТЕЧЕСТВЕННЫХ АВТОМОБИЛЕЙ</li> -->
        <!-- <li> ВЫКУП МОТОЦИКЛОВ</li> -->
        <!-- <li> ВЫКУП АВТОМОБИЛЕЙ С ЛЮБЫМ ПРОБЕГОМ</li> -->
        <!-- <li> ВЫКУП АВТОМОБИЛЯ БЕЗ СНЯТИЯ С УЧЕТА</li> -->
        <!-- <li> ВЫКУП КРЕДИТНЫХ АВТОМОБИЛЕЙ</li> -->
        <!-- <li> ВЫКУП АВТО БЕЗ ДОКУМЕНТОВ</li> -->
      <!-- </div> -->
      {% include 'conditions.html' %}
      {% include 'categories.html' %}
    </div>
    <div class='main-page'>
      <div class='col-md-3 col-sm-12 col-xs-12' id='form'>
        {% include 'fast_eval.html' %}
      </div>
      {% include 'brand_form.html' %}
    </div>

    <!-- <div class='col-md-3 col-md-offset-9 col-sm-12 col-xs-12' id='all-brands'> -->
      <!-- <h4>Услуги</h4> -->
      <!-- <div class='col-md-12 col-sm-12 col-xs-12' id='list'> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
        <!-- <li><a href='#'>выкуп дорогих авто</a></li> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
{%endblock%}
